body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #8849FF;
}

.wrapper {
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
}
